[submodule "training"]
	path = training
	url = https://github.com/wannabeyourfriend/s3-sim-private-dev-repo.git
	branch = model-trainer-deployer
[submodule "evaluations"]
	path = evaluations
	url = https://github.com/wannabeyourfriend/p13n-eval-harness
	branch = main
